In [1]:
import pandas as pd
import datetime
from configparser import ConfigParser
from pysimplicate import Simplicate

# Simplicate
ini = ConfigParser()
ini.read('../credentials.ini')

subdomain = ini['simplicate']['subdomain']
api_key = ini['simplicate']['api_key']
api_secret = ini['simplicate']['api_secret']

sim = Simplicate(subdomain, api_key, api_secret )

In [2]:
def fraction_of_the_year_past(start_day=None):
    if start_day:
        start_date_time = datetime.datetime.combine(start_day, datetime.datetime.min.time())
    else:
        y = datetime.datetime.today().year
        start_date_time = datetime.datetime(y, 1, 1)
    days_in_the_year = (datetime.datetime.today() - start_date_time).days + 1
    return days_in_the_year / 365

In [3]:
today = datetime.datetime.today().strftime('%Y-%m-%d')
employees = sim.to_pandas(sim.timetable()).query(f"(end_date != end_date) or (end_date>'{today}')").employee_name.unique() # (end_date != end_date) is to check for NaN
full_balance_list = sim.to_pandas(sim.leavebalance())
current_balance_list = full_balance_list[ full_balance_list.employee_name.isin(employees)].query('leavetype_affects_balance==True')
current_balance_list = current_balance_list[current_balance_list['employee_name'] != 'Filipe JosÃ© Mariano dos Santos']
current_balance_list

,employee_id,employee_name,balance,first_change,last_change,year,leavetype_id,leavetype_label,leavetype_affects_balance
1,employee:784ac55610fbd36e6d44e34a3f0f8c3d,Sho Stegmeijer,120.00,NaN,NaN,2020,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
2,employee:784ac55610fbd36e6d44e34a3f0f8c3d,Sho Stegmeijer,200.00,NaN,NaN,2021,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
4,employee:b5836dbd835040e56d44e34a3f0f8c3d,Rogier Voogt,88.00,NaN,NaN,2020,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
5,employee:b5836dbd835040e56d44e34a3f0f8c3d,Rogier Voogt,160.00,NaN,NaN,2021,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
7,employee:14b7ec842b5e2ec86d44e34a3f0f8c3d,Robin Veer,216.00,2021-04-21 09:30:00,2021-04-23 09:30:00,2021,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
...,...,...,...,...,...,...,...,...,...
229,employee:9d28f409c6c647fc6d44e34a3f0f8c3d,Joost Cornelissen,180.00,NaN,NaN,2021,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
235,employee:216a06d028f48da96d44e34a3f0f8c3d,Wouter Gerrits,0.02,2018-07-13 09:00:00,2018-12-31 08:30:00,2018,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
236,employee:216a06d028f48da96d44e34a3f0f8c3d,Wouter Gerrits,49.15,2019-02-05 09:30:00,2019-12-31 09:00:00,2019,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
237,employee:216a06d028f48da96d44e34a3f0f8c3d,Wouter Gerrits,19.80,2020-03-17 09:00:00,2020-08-14 09:00:00,2020,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True
238,employee:216a06d028f48da96d44e34a3f0f8c3d,Wouter Gerrits,180.00,NaN,NaN,2021,leavetype:a2c2abddb4beab48674d3889da2d293d,Verlof / Leave,True

In [10]:
year = datetime.datetime.today().year
frac = fraction_of_the_year_past()
last_year = current_balance_list.query(f'year<{year}').groupby(['employee_name']).sum('balance')['balance'] / 8

    # This year
fulll_thisyear_list = sim.to_pandas(sim.leave({'year':year}))
current_thisyear_list = fulll_thisyear_list[fulll_thisyear_list.employee_name.isin(employees)].query(
    'leavetype_affects_balance==True'
)
this_year_balance = current_thisyear_list.groupby(['employee_name']).sum('hours')['hours'] / 8
this_year_new = current_thisyear_list.groupby(['employee_name']).max('hours')['hours'] / 8
overview = pd.concat([last_year, this_year_new, this_year_balance], axis=1).fillna(0)
overview.columns = ['last_year', 'this_year_new', 'this_year_balance']
overview['available'] = overview.apply(lambda x: x['last_year'] + x['this_year_balance'], axis=1)
overview['pool'] = overview.apply(lambda x: x['last_year'] + x['this_year_new'] * frac, axis=1)
overview.reset_index(level=0, inplace=True)
overview

,employee_name,last_year,this_year_new,this_year_balance,available,pool
0,Bas Colenbrander,2.00000,25.00,24.3125,26.31250,7.616438
1,Caspar Geerlings,10.00000,25.00,23.0000,33.00000,15.616438
2,Chris Neven,1.50000,25.00,23.0000,24.50000,7.116438
3,Eva Korteweg,-1.50000,22.50,21.5000,20.00000,3.554795
4,Fadhlur Zahri,2.75000,25.00,25.0000,27.75000,8.366438
5,Geert-Jan van Mastrigt,13.90000,15.00,7.0000,20.90000,17.269863
6,George Tsimenis,12.00000,25.00,24.0000,36.00000,17.616438
7,Gerben van Dijk,3.75000,25.00,17.0000,20.75000,9.366438
8,Gert Braun,14.50000,24.00,15.1875,29.68750,19.891781
9,Gijs Kattenberg,3.75000,25.00,23.5000,27.25000,9.366438
10,Hans-Peter Harmsen,12.50000,30.00,30.0000,42.50000,19.239726
11,Jari Zwarts,14.00000,22.50,18.5000,32.50000,19.054795
12,Jeroen Soeteman,5.75000,25.00,20.0000,25.75000,11.366438
13,Jie Chin,11.00000,30.00,30.0000,41.00000,17.739726
14,Jochem Tijhuis,9.25000,22.50,19.7500,29.00000,14.304795
15,Joost Cornelissen,8.05625,22.50,22.5000,30.55625,13.111045
16,Jordi Hendrix,11.50000,20.00,16.0000,27.50000,15.993151
17,Jurriaan Ruitenberg,22.50000,25.00,25.0000,47.50000,28.116438
18,Kelly de Haan,21.50000,25.00,24.0000,45.50000,27.116438
19,Kevin Lobine,3.50000,25.00,25.0000,28.50000,9.116438
20,Kheira Oudejans,9.50000,20.00,17.0000,26.50000,13.993151
21,Mandy DorÃ©e,6.50000,25.00,19.0000,25.50000,12.116438
22,Marijn Hurkens,-1.10000,25.00,25.0000,23.90000,4.516438
23,Mark Kuijer,1.50000,25.00,9.5000,11.00000,7.116438
24,Martijn van Klaveren,12.00000,6.25,6.2500,18.25000,13.404110
25,Matthijs Blankevoort,0.50000,20.00,20.0000,20.50000,4.993151
26,Miek ten Brummelhuis,-5.00000,17.50,17.5000,12.50000,-1.068493
27,Patricia Snel,-1.17000,20.00,17.0000,15.83000,3.323151
28,Paulo Nuno da Cruz Moreno,7.50000,20.00,19.0000,26.50000,11.993151
29,Raymond Kiekens,4.50000,22.50,21.5000,26.00000,9.554795
30,Richard de Boer,5.50000,30.00,27.0000,32.50000,12.239726
31,Rik Scheffer,1.00000,20.00,16.0000,17.00000,5.493151
32,Rogier Voogt,11.00000,20.00,20.0000,31.00000,15.493151
33,Sebastian Schipper,4.10000,23.75,23.7500,27.85000,9.435616
34,Sho Stegmeijer,15.00000,25.00,25.0000,40.00000,20.616438
35,Stefan Roovers,8.02500,21.25,13.1250,21.15000,12.798973
36,Wouter Gerrits,8.62125,22.50,22.5000,31.12125,13.676045
37,Angela Duijs,0.00000,20.00,20.0000,20.00000,4.493151
38,Filipe JosÃ© Mariano dos Santos,0.00000,-1.00,-1.0000,-1.00000,-0.224658
39,Mel Schuurman,0.00000,17.50,14.0000,14.00000,3.931507
40,Richard van Willegen,0.00000,27.00,27.0000,27.00000,6.065753
41,Robin Veer,0.00000,25.00,27.0000,27.00000,5.616438

In [103]:
year = datetime.datetime.today().year
frac = fraction_of_the_year_past()
year_start = current_balance_list.query(f'year<{year}').groupby(['employee_name']).sum('balance')['balance']/8
this_year = current_balance_list.query(f'(year=={year}) and (balance>0)').groupby(['employee_name']).sum('balance')['balance']/8
used = current_balance_list.query(f'(year=={year}) and (balance<0)').groupby(['employee_name']).sum('balance')['balance']/-8
overview = pd.concat([year_start, this_year, used], axis=1).fillna(0)
overview.columns=['year_start','this_year','used']
overview['available'] = overview.apply( lambda x: x['year_start'] + x['this_year'] + x['used'], axis=1 )
overview['should_be_used'] = overview.apply( lambda x: x['this_year'] * frac, axis=1  )
overview['pool'] = overview.apply( lambda x: x['year_start'] + x['should_be_used'] - x['used'], axis=1)
overview.reset_index(level=0, inplace=True)
overview

,employee_name,year_start,this_year,used,available,should_be_used,pool
0,Bas Colenbrander,2.00000,24.50,0.1875,26.68750,5.101370,6.913870
1,Caspar Geerlings,10.00000,23.00,0.0000,33.00000,4.789041,14.789041
2,Chris Neven,1.50000,25.00,0.0000,26.50000,5.205479,6.705479
3,Eva Korteweg,-1.50000,21.50,0.0000,20.00000,4.476712,2.976712
4,Fadhlur Zahri,2.75000,25.00,0.0000,27.75000,5.205479,7.955479
5,Geert-Jan van Mastrigt,13.90000,7.00,0.0000,20.90000,1.457534,15.357534
6,George Tsimenis,12.00000,24.00,0.0000,36.00000,4.997260,16.997260
7,Gerben van Dijk,3.75000,23.00,0.0000,26.75000,4.789041,8.539041
8,Gert Braun,14.50000,11.50,0.3125,26.31250,2.394521,16.582021
9,Gijs Kattenberg,3.75000,23.50,0.0000,27.25000,4.893151,8.643151
10,Hans-Peter Harmsen,12.50000,25.00,0.0000,37.50000,5.205479,17.705479
11,Jari Zwarts,14.00000,18.50,0.0000,32.50000,3.852055,17.852055
12,Jeroen Soeteman,5.75000,20.00,0.0000,25.75000,4.164384,9.914384
13,Jie Chin,11.00000,25.00,0.0000,36.00000,5.205479,16.205479
14,Jochem Tijhuis,9.25000,19.75,0.0000,29.00000,4.112329,13.362329
15,Joost Cornelissen,8.05625,22.50,0.0000,30.55625,4.684932,12.741182
16,Jordi Hendrix,11.50000,16.00,0.0000,27.50000,3.331507,14.831507
17,Jurriaan Ruitenberg,22.50000,25.00,0.0000,47.50000,5.205479,27.705479
18,Kelly de Haan,21.50000,24.00,0.0000,45.50000,4.997260,26.497260
19,Kevin Lobine,3.50000,25.00,0.0000,28.50000,5.205479,8.705479
20,Kheira Oudejans,9.50000,17.00,0.0000,26.50000,3.539726,13.039726
21,Lunah Smits,1.00000,0.00,0.5000,1.50000,0.000000,0.500000
22,Mandy DorÃ©e,6.50000,19.00,0.0000,25.50000,3.956164,10.456164
23,Marijn Hurkens,-1.10000,25.00,0.0000,23.90000,5.205479,4.105479
24,Mark Kuijer,1.50000,10.50,0.0000,12.00000,2.186301,3.686301
25,Martijn van Klaveren,12.00000,6.25,0.0000,18.25000,1.301370,13.301370
26,Matthijs Blankevoort,0.50000,20.00,0.0000,20.50000,4.164384,4.664384
27,Miek ten Brummelhuis,-5.00000,17.50,0.0000,12.50000,3.643836,-1.356164
28,Patricia Snel,-1.17000,17.00,0.0000,15.83000,3.539726,2.369726
29,Paulo Nuno da Cruz Moreno,7.50000,19.00,0.0000,26.50000,3.956164,11.456164
30,Raymond Kiekens,4.50000,21.50,0.0000,26.00000,4.476712,8.976712
31,Richard de Boer,5.50000,22.00,0.0000,27.50000,4.580822,10.080822
32,Rik Scheffer,1.00000,16.00,0.0000,17.00000,3.331507,4.331507
33,Rogier Voogt,11.00000,20.00,0.0000,31.00000,4.164384,15.164384
34,Sebastian Schipper,4.10000,23.75,0.0000,27.85000,4.945205,9.045205
35,Sho Stegmeijer,15.00000,25.00,0.0000,40.00000,5.205479,20.205479
36,Stefan Roovers,8.02500,30.00,1.3750,39.40000,6.246575,12.896575
37,Wouter Gerrits,8.62125,22.50,0.0000,31.12125,4.684932,13.306182
38,Angela Duijs,0.00000,20.00,0.0000,20.00000,4.164384,4.164384
39,Mel Schuurman,0.00000,14.00,0.0000,14.00000,2.915068,2.915068
40,Richard van Willegen,0.00000,22.50,0.0000,22.50000,4.684932,4.684932
41,Robin Veer,0.00000,0.00,3.0000,3.00000,0.000000,-3.000000

In [102]:
overview['pool'].sum()

435.97462328767125