In [1]:
import pandas as pd
import datetime
from configparser import ConfigParser
import json, requests, datetime
from pysimplicate import Simplicate

# Pandas
pd.options.display.float_format = '{:,.1f}'.format
pd.set_option('display.max_columns', 500)
PANDAS_FILE = '../simplicate_cache/hours.pd'
df = pd.read_pickle(PANDAS_FILE)

df = df.query( 'type=="normal"')
df['turnover'] = df.apply(lambda a: (a['hours']+a['corrections']) * (a['tariff'] if a['tariff'] > 0 else a['service_tariff']), axis=1)
df['turnover'] = df.apply(lambda a: a['turnover']/2 if a['project_number'] == 'TOR-3' else a['turnover'], axis=1)
df['week'] = df.apply(lambda a: datetime.datetime.strptime(a['day'],'%Y-%m-%d').isocalendar()[1], axis=1)
df['month'] = df.apply(lambda a: datetime.datetime.strptime(a['day'],'%Y-%m-%d').month, axis=1)
df['corrections_value'] = df.apply(lambda a: (a['corrections']) * (a['tariff'] if a['tariff'] > 0 else a['service_tariff']), axis=1)

# Simplicate
ini = ConfigParser()
ini.read('../credentials.ini')

subdomain = ini['simplicate']['subdomain']
api_key = ini['simplicate']['api_key']
api_secret = ini['simplicate']['api_secret']

sim = Simplicate(subdomain, api_key, api_secret )

In [2]:
df[-3:]

,employee,organization,project_id,project_name,project_number,service,type,service_tariff,label,billable,tariff,hours,day,status,corrections,turnover,week,corrections_value,month
13386,Mandy Dorée,Oberon,project:21ea648f0c0c31fcfeaad60b7a7437df,Internal,OBE-1,Other / Unaccountable,normal,0.0,Internal,False,0.0,0.5,2021-05-10,to_forward,0.0,0.0,19,0.0,5
13387,Mandy Dorée,Oberon,project:21ea648f0c0c31fcfeaad60b7a7437df,Internal,OBE-1,Other / Unaccountable,normal,0.0,Internal,False,0.0,0.2,2021-05-10,to_forward,0.0,0.0,19,0.0,5
13388,Mandy Dorée,TOR groep,project:5fdd3f799c981c6dfeaad60b7a7437df,TOR 3.0,TOR-3,Development Sprints Q1&Q2,normal,80.0,Testing,False,77.5,0.2,2021-05-10,to_forward,0.0,9.7,19,0.0,5

## Turnover

In [3]:
def turnover( project, month=None, from_date=None ):
    query = f'project_number=="{project}"'
    if month: 
        query += f' and month=={month}'
    if from_date:
        query += f' and day>="{from_date}"'
    data = df.query(query)
    return data['turnover'].sum()

turnover( 'BAM-1', from_date='2021-02-01')

86545.15000000001

## Invoices

In [4]:
def invoiced(project, month=None ):
    filter = {'project_number':project}
    if month:
        filter['from_date'] = f'2021-0{month}-01'
        filter['until_date'] = f'2021-0{month+1}-01'
    invoices = sim.invoice( filter )
    tot = 0
    for invoice in invoices:
        #print( invoice.get('invoice_number','????'), invoice['total_excluding_vat'], invoice['status'])
        tot += invoice['total_excluding_vat']
    return tot

def last_invoice_date( project ):
    invoices = sim.invoice( {'project_number':project} )
    invoices = sorted( invoices, key=lambda i: i['date'])
    if invoices:
        return datetime.datetime.strptime( invoices[-1]['date'], '%Y-%m-%d').date()
    
#print( invoiced( 'BAM-1'))
print( last_invoice_date( 'SLIM-16' ))

2020-11-30

## All projects, certain month

In [5]:
def active_projects():
    projects = [{'project': project.get('project_number',''),
                 'spent' : project['budget']['hours'].get('value_spent', 0),
                 'invoiced' : project['budget']['total']['value_invoiced']
                }
                for project in sim.project( {'active':True} )]
    return projects
active_projects()[:3]

[{'project': 'TRAV-3', 'spent': 0, 'invoiced': 0},
 {'project': 'SM2021', 'spent': 70018.75, 'invoiced': 85170},
 {'project': 'VOLK-1', 'spent': 12672, 'invoiced': 11724}]

## Onderhanden werk

In [6]:
pd.set_option('display.max_row', 150)

# project['budget']['total']['value_invoiced']
def corrections(p):
    project = p['project']
    h = df.query( f'project_number=="{project}"' )
    print( 'corrections', project, h['corrections_value'].sum())
    return h['corrections_value'].sum()
    
def onderhanden():
    return pd.DataFrame( [{'project':project['project'], 
                           'spent':project['spent'],
                           'corr': corrections( project),
                           'inv': project['invoiced'],
                           'OH':project['spent'] + corrections( project) - project['invoiced']} 
                          for project in active_projects()] ).sort_values( by=['OH'])
oh = onderhanden()
oh.drop( oh[(oh.project=='TOR-3')].index, inplace=True)
oh

corrections TRAV-3 0.0
corrections TRAV-3 0.0
corrections SM2021 340.0
corrections SM2021 340.0
corrections VOLK-1 -3910.5
corrections VOLK-1 -3910.5
corrections EUR-1 -7334.2499999967
corrections EUR-1 -7334.2499999967
corrections HAVA-2 -8585.0
corrections HAVA-2 -8585.0
corrections OBE-1 0.0
corrections OBE-1 0.0
corrections AME-1 0.0
corrections AME-1 0.0
corrections TOR-3 -14064.375
corrections TOR-3 -14064.375
corrections TEX-1 -58967.5
corrections TEX-1 -58967.5
corrections ACC-1 0.0
corrections ACC-1 0.0
corrections THIE-23 0.0
corrections THIE-23 0.0
corrections TOMMY-1 -810.0
corrections TOMMY-1 -810.0
corrections BOER-1 -315.0
corrections BOER-1 -315.0
corrections TOPA-1 55.0
corrections TOPA-1 55.0
corrections ESCH-1 -5720.0
corrections ESCH-1 -5720.0
corrections KPITO-1 -82.5
corrections KPITO-1 -82.5
corrections BREI-1 0.0
corrections BREI-1 0.0
corrections BAM-1 -3188.875
corrections BAM-1 -3188.875
corrections RIN-1 -750.0
corrections RIN-1 -750.0
corrections TRAV-4 0.0
corrections TRAV-4 0.0
corrections TRAV-2 0.0
corrections TRAV-2 0.0
corrections LAND-2 0.0
corrections LAND-2 0.0
corrections TRAV-1 0.0
corrections TRAV-1 0.0
corrections SLIM-30 -85.0
corrections SLIM-30 -85.0
corrections SERVIC-1 0.0
corrections SERVIC-1 0.0
corrections FUNC-1 -55.0
corrections FUNC-1 -55.0
corrections BEN-1 0.0
corrections BEN-1 0.0
corrections AMS-1 -5720.0
corrections AMS-1 -5720.0
corrections THAL-1 -5335.0
corrections THAL-1 -5335.0
corrections MG2021 0.0
corrections MG2021 0.0
corrections BITF-1 0.0
corrections BITF-1 0.0
corrections VJ2021 -2890.0
corrections VJ2021 -2890.0
corrections OER-1 -9878.75
corrections OER-1 -9878.75
corrections OER-2 -2282.5
corrections OER-2 -2282.5
corrections MTM-1 0.0
corrections MTM-1 0.0
corrections CEO-1 -2295.0
corrections CEO-1 -2295.0
corrections IDFA-1 -2160.0
corrections IDFA-1 -2160.0
corrections THIE-17 -7503.75
corrections THIE-17 -7503.75
corrections NUNOT-1 -960.0
corrections NUNOT-1 -960.0
corrections ONC-1 0.0
corrections ONC-1 0.0
corrections VBA-2 -1252.75
corrections VBA-2 -1252.75
corrections CAPA-8 0.0
corrections CAPA-8 0.0
corrections TMC-1 -2612.5
corrections TMC-1 -2612.5
corrections VWF-1 0.0
corrections VWF-1 0.0
corrections SCHI-1 0.0
corrections SCHI-1 0.0
corrections OBEN21 0.0
corrections OBEN21 0.0
corrections IVA-1 0.0
corrections IVA-1 0.0
corrections IMC-1 0.0
corrections IMC-1 0.0
corrections TEX-2 -585.0
corrections TEX-2 -585.0
corrections LEAN-2 0.0
corrections LEAN-2 0.0
corrections BELE-1 -137.5
corrections BELE-1 -137.5
corrections ROI-1 0.0
corrections ROI-1 0.0
corrections BS2021 0.0
corrections BS2021 0.0
corrections BCM-1 -3052.5
corrections BCM-1 -3052.5
corrections WEI-001 0.0
corrections WEI-001 0.0
corrections VERH-1 0.0
corrections VERH-1 0.0
corrections BROE-1 -525.0
corrections BROE-1 -525.0
corrections WARN-1 -55.0
corrections WARN-1 -55.0
corrections BRAU-1 0.0
corrections BRAU-1 0.0
corrections BRA-2 0.0
corrections BRA-2 0.0
corrections SLIM-9 0.0
corrections SLIM-9 0.0
corrections MANA-1 0.0
corrections MANA-1 0.0
corrections ALEX-2 0.0
corrections ALEX-2 0.0
corrections IDFA-3 0.0
corrections IDFA-3 0.0
corrections ROCK-4 0.0
corrections ROCK-4 0.0
corrections ALDA-13 0.0
corrections ALDA-13 0.0
corrections CHIC-7 0.0
corrections CHIC-7 0.0
corrections PLUC-1 0.0
corrections PLUC-1 0.0
corrections IDFA-2 -1772.5
corrections IDFA-2 -1772.5
corrections CAP-3 0.0
corrections CAP-3 0.0
corrections CVA-1 0.0
corrections CVA-1 0.0
corrections ADY-1 0.0
corrections ADY-1 0.0
corrections THIE-21 0.0
corrections THIE-21 0.0
corrections LEDO-1 0.0
corrections LEDO-1 0.0
corrections ODC-1 0.0
corrections ODC-1 0.0
corrections ONC-3 -11116.25
corrections ONC-3 -11116.25
corrections TER-1 0.0
corrections TER-1 0.0
corrections PROD-2 0.0
corrections PROD-2 0.0
corrections APL-001 0.0
corrections APL-001 0.0
corrections SPIR-1 0.0
corrections SPIR-1 0.0
corrections THIE-16 -45.0
corrections THIE-16 -45.0
corrections CAPI-4 0.0
corrections CAPI-4 0.0
corrections BAM-2 0.0
corrections BAM-2 0.0
corrections WORR-2 0.0
corrections WORR-2 0.0
corrections WORR-1 0.0
corrections WORR-1 0.0
corrections COMP-1 0.0
corrections COMP-1 0.0
corrections MLA-2 0.0
corrections MLA-2 0.0
corrections IFLA-4 -660.0
corrections IFLA-4 -660.0
corrections ONC-2 0.0
corrections ONC-2 0.0
corrections SVHK-1 -192.5
corrections SVHK-1 -192.5
corrections SINT-3 0.0
corrections SINT-3 0.0
corrections GREE-6 0.0
corrections GREE-6 0.0
corrections DREAM-1 0.0
corrections DREAM-1 0.0
corrections SINT-2 0.0
corrections SINT-2 0.0
corrections WARN-2 0.0
corrections WARN-2 0.0
corrections MLA-6 0.0
corrections MLA-6 0.0
corrections WIND-7 0.0
corrections WIND-7 0.0
corrections BROE-4 0.0
corrections BROE-4 0.0
corrections TEST 0.0
corrections TEST 0.0
corrections HOUT-1 0.0
corrections HOUT-1 0.0
corrections METR-1 0.0
corrections METR-1 0.0
corrections KCP-1 0.0
corrections KCP-1 0.0
corrections KUNS-1 0.0
corrections KUNS-1 0.0
corrections NLA-1 0.0
corrections NLA-1 0.0
corrections CAPI-2 0.0
corrections CAPI-2 0.0
corrections NORM-01 0.0
corrections NORM-01 0.0
corrections WIND-6 0.0
corrections WIND-6 0.0
corrections SPIR-3 0.0
corrections SPIR-3 0.0
corrections MAMA-1 0.0
corrections MAMA-1 0.0
corrections PROD-1 0.0
corrections PROD-1 0.0
corrections NUTR-1 0.0
corrections NUTR-1 0.0

      project     spent      corr       inv        OH
1      SM2021  70,018.8     340.0  85,170.0 -14,811.2
48      TEX-2   2,617.5    -585.0  12,372.5 -10,340.0
34      MTM-1  58,150.6       0.0  67,454.4  -9,303.8
14     ESCH-1  10,402.5  -5,720.0  12,752.5  -8,070.0
42      TMC-1  17,627.5  -2,612.5  21,440.0  -6,425.0
49     LEAN-2       0.0       0.0   5,950.0  -5,950.0
6       AME-1     137.5       0.0   5,897.5  -5,760.0
88      ONC-2   5,185.0       0.0  10,200.0  -5,015.0
30     BITF-1   6,375.0       0.0  10,880.0  -4,505.0
82      BAM-2       0.0       0.0   4,200.0  -4,200.0
91     GREE-6  11,156.2       0.0  15,000.0  -3,843.8
60     SLIM-9       0.0       0.0   3,755.7  -3,755.7
76      TER-1     825.0       0.0   4,205.0  -3,380.0
54    WEI-001       0.0       0.0   3,079.2  -3,079.2
12     BOER-1   4,387.5    -315.0   7,135.0  -3,062.5
2      VOLK-1  12,672.0  -3,910.5  11,724.0  -2,962.5
18      RIN-1   6,025.0    -750.0   8,050.0  -2,775.0
64     ROCK-4   3,527.5       0.0   6,300.0  -2,772.5
33      OER-2   4,015.0  -2,282.5   4,310.0  -2,577.5
94     WARN-2       0.0       0.0   2,520.0  -2,520.0
36     IDFA-1   6,165.0  -2,160.0   6,210.0  -2,205.0
28     THAL-1  17,187.5  -5,335.0  14,030.0  -2,177.5
38    NUNOT-1   5,887.5    -960.0   6,967.5  -2,040.0
67     PLUC-1     825.0       0.0   2,640.0  -1,815.0
77     PROD-2       0.0       0.0   1,764.0  -1,764.0
93     SINT-2       0.0       0.0   1,489.0  -1,489.0
3       EUR-1  14,685.0  -7,334.2   8,810.2  -1,459.5
85     COMP-1       0.0       0.0   1,452.0  -1,452.0
50     BELE-1   2,695.0    -137.5   3,997.5  -1,440.0
46      IVA-1     412.5       0.0   1,757.5  -1,345.0
95      MLA-6       0.0       0.0   1,320.0  -1,320.0
39      ONC-1   1,925.0       0.0   3,200.0  -1,275.0
44     SCHI-1       0.0       0.0   1,200.0  -1,200.0
52     BS2021     850.0       0.0   2,040.0  -1,190.0
51      ROI-1     850.0       0.0   2,040.0  -1,190.0
106    WIND-6       0.0       0.0   1,176.0  -1,176.0
97     BROE-4       0.0       0.0   1,176.0  -1,176.0
84     WORR-1       0.0       0.0   1,044.0  -1,044.0
105   NORM-01       0.0       0.0   1,044.0  -1,044.0
96     WIND-7   3,245.0       0.0   4,097.5    -852.5
15    KPITO-1     192.5     -82.5     830.0    -720.0
101     KCP-1       0.0       0.0     720.0    -720.0
53      BCM-1  11,357.5  -3,052.5   9,025.0    -720.0
107    SPIR-3       0.0       0.0     696.0    -696.0
16     BREI-1      82.5       0.0     747.5    -665.0
99     HOUT-1       0.0       0.0     600.0    -600.0
92    DREAM-1       0.0       0.0     600.0    -600.0
43      VWF-1     797.5       0.0   1,330.0    -532.5
13     TOPA-1   1,072.5      55.0   1,627.5    -500.0
104    CAPI-2   2,112.5       0.0   2,440.0    -327.5
11    TOMMY-1   6,660.0    -810.0   6,172.5    -322.5
66     CHIC-7  17,978.8       0.0  18,240.0    -261.2
87     IFLA-4   3,932.5    -660.0   3,520.0    -247.5
100    METR-1       0.0       0.0     150.0    -150.0
78    APL-001       0.0       0.0      71.8     -71.8
89     SVHK-1     907.5    -192.5     715.0       0.0
73     LEDO-1       0.0       0.0       0.0       0.0
71      ADY-1       0.0       0.0       0.0       0.0
69      CAP-3   6,000.0       0.0   6,000.0       0.0
68     IDFA-2  17,672.5  -1,772.5  15,900.0       0.0
81     CAPI-4     247.5       0.0     247.5       0.0
75      ONC-3  21,085.0 -11,116.2   9,968.8       0.0
0      TRAV-3       0.0       0.0       0.0       0.0
55     VERH-1       0.0       0.0       0.0       0.0
110    NUTR-1       0.0       0.0       0.0       0.0
5       OBE-1       0.0       0.0       0.0       0.0
40      VBA-2  11,586.5  -1,252.8  10,333.8       0.0
59      BRA-2       0.0       0.0       0.0       0.0
58     BRAU-1  41,000.0       0.0  41,000.0       0.0
19     TRAV-4       0.0       0.0       0.0       0.0
20     TRAV-2       0.0       0.0       0.0       0.0
22     TRAV-1       0.0       0.0       0.0       0.0
41     CAPA-8       0.0       0.0       0.0       0.0
47      IMC-1     982.5       0.0     982.5       0.0
80    THIE-16   9,067.5     -45.0   8,932.5      90.0
109    PROD-1   1,146.2       0.0     880.0     266.2
90     SINT-3   9,386.2       0.0   9,110.0     276.2
102    KUNS-1   9,106.2       0.0   8,800.0     306.2
23    SLIM-30  25,946.2     -85.0  25,500.0     361.2
86      MLA-2   4,035.0       0.0   3,520.0     515.0
83     WORR-2   2,331.2       0.0   1,760.0     571.2
62     ALEX-2     601.2       0.0       0.0     601.2
29     MG2021  16,447.5       0.0  15,703.8     743.8
57     WARN-1  12,638.8     -55.0  11,692.5     891.2
61     MANA-1  21,351.2       0.0  20,350.0   1,001.2
79     SPIR-1  12,536.2       0.0  11,520.0   1,016.2
31     VJ2021  17,786.2  -2,890.0  13,855.0   1,041.2
63     IDFA-3   6,056.2       0.0   4,945.0   1,111.2
65    ALDA-13   9,172.5       0.0   8,000.0   1,172.5
45     OBEN21   1,262.5       0.0       0.0   1,262.5
74      ODC-1  10,741.2       0.0   9,262.5   1,478.8
56     BROE-1   8,315.0    -525.0   6,200.0   1,590.0
25     FUNC-1   2,722.5     -55.0   1,022.5   1,645.0
72    THIE-21   1,897.5       0.0       0.0   1,897.5
108    MAMA-1   1,976.2       0.0       0.0   1,976.2
98       TEST   2,362.5       0.0       0.0   2,362.5
27      AMS-1  18,920.0  -5,720.0  10,367.5   2,832.5
103     NLA-1  12,356.2       0.0   9,080.0   3,276.2
37    THIE-17  51,487.5  -7,503.8  39,937.5   4,046.2
17      BAM-1 112,981.3  -3,188.9 105,692.4   4,100.0
26      BEN-1  83,773.1       0.0  79,179.1   4,594.0
21     LAND-2  25,085.0       0.0  18,400.0   6,685.0
35      CEO-1   9,855.0  -2,295.0       0.0   7,560.0
10    THIE-23   8,692.5       0.0       0.0   8,692.5
24   SERVIC-1   9,418.8       0.0       0.0   9,418.8
9       ACC-1 195,598.8       0.0 184,066.2  11,532.5
70      CVA-1  12,392.5       0.0       0.0  12,392.5
4      HAVA-2  63,410.0  -8,585.0  40,883.8  13,941.2
8       TEX-1 129,162.5 -58,967.5  44,835.0  25,360.0
32      OER-1  58,621.2  -9,878.8  22,727.5  26,015.0

In [7]:
oh['OH'].sum()

21726.7824670033

# Correcties

In [8]:
df[-3:]

,employee,organization,project_id,project_name,project_number,service,type,service_tariff,label,billable,tariff,hours,day,status,corrections,turnover,week,corrections_value,month
13386,Mandy Dorée,Oberon,project:21ea648f0c0c31fcfeaad60b7a7437df,Internal,OBE-1,Other / Unaccountable,normal,0.0,Internal,False,0.0,0.5,2021-05-10,to_forward,0.0,0.0,19,0.0,5
13387,Mandy Dorée,Oberon,project:21ea648f0c0c31fcfeaad60b7a7437df,Internal,OBE-1,Other / Unaccountable,normal,0.0,Internal,False,0.0,0.2,2021-05-10,to_forward,0.0,0.0,19,0.0,5
13388,Mandy Dorée,TOR groep,project:5fdd3f799c981c6dfeaad60b7a7437df,TOR 3.0,TOR-3,Development Sprints Q1&Q2,normal,80.0,Testing,False,77.5,0.2,2021-05-10,to_forward,0.0,9.7,19,0.0,5

In [9]:
import datetime
one_week_ago = (datetime.datetime.today() + datetime.timedelta(weeks=-1)).strftime(DATE_FORMAT)
five_weeks_ago = (datetime.datetime.today() + datetime.timedelta(weeks=-5)).strftime(DATE_FORMAT)
data = df.query(f'(tariff>0 or service_tariff>0) and day>="{one_week_ago}" and day<"{five_weeks_ago}"')
data

NameError: name 'DATE_FORMAT' is not defined

In [ ]:
df['day'].min()

In [ ]:
one_week_ago = (datetime.datetime.today() + datetime.timedelta(weeks=-1)).strftime(DATE_FORMAT)
five_weeks_ago = (datetime.datetime.today() + datetime.timedelta(weeks=-5)).strftime(DATE_FORMAT)
query = f'(tariff>0 or service_tariff>0) and day>="{five_weeks_ago}" and day<"{one_week_ago}"'
print( query )
data = df.query(query)
print( data['day'].min() )
print( data['day'].max() )
print( data['hours'].sum() )
percentage_corrected = 100 * -data['corrections'].sum() / data['hours'].sum()
percentage_corrected

In [ ]:
DATE_FORMAT = '%Y-%m-%d'
lastmonth = (datetime.datetime.today() + datetime.timedelta(days=-30)).strftime(DATE_FORMAT)
a = df.query(f'corrections < 0 and day>="{lastmonth}"').groupby(['organization','project_name']).agg({'hours':'sum','corrections':'sum', 'turnover':'sum'}).sort_values('corrections').query('corrections < -10')
a.reset_index()

## Correcties op een specifiek project

In [ ]:
easy = df.query('project_number == "EASY-1"')
easy

In [ ]:
easy.groupby(['organization','project_name','project_id']).agg({'hours':'sum','corrections':'sum', 'turnover':'sum'}).query('corrections < -10')

In [ ]:
df.query(f'corrections < 0 and project_number == "EASY-1"')\
        .groupby(['organization', 'project_name', 'project_id'])\
        .agg({'hours': 'sum', 'corrections': 'sum'})\
        .sort_values('corrections')\
        .reset_index()

In [ ]:
df.query('corrections < 0').query('project_number == "EASY-1"').groupby(['organization','project_name','project_id']).agg({'hours':'sum','corrections':'sum', 'turnover':'sum'}).query('corrections < -10')

In [ ]:
df.query('corrections < 0 and project_number == "EASY-1"')