In [1]:
import pandas as pd
import datetime
from configparser import ConfigParser
import json, requests, datetime
from pysimplicate import Simplicate

# Pandas
pd.options.display.float_format = '{:,.1f}'.format
pd.set_option('display.max_columns', 500)
PANDAS_FILE = '../simplicate_cache/hours.pd'
df = pd.read_pickle(PANDAS_FILE)

df = df.query( 'type=="normal"')
df['turnover'] = df.apply(lambda a: (a['hours']+a['corrections']) * (a['tariff'] if a['tariff'] > 0 else a['service_tariff']), axis=1)
df['turnover'] = df.apply(lambda a: a['turnover']/2 if a['project_number'] == 'TOR-3' else a['turnover'], axis=1)
df['week'] = df.apply(lambda a: datetime.datetime.strptime(a['day'],'%Y-%m-%d').isocalendar()[1], axis=1)
df['month'] = df.apply(lambda a: datetime.datetime.strptime(a['day'],'%Y-%m-%d').month, axis=1)

# Simplicate
ini = ConfigParser()
ini.read('../credentials.ini')

subdomain = ini['simplicate']['subdomain']
api_key = ini['simplicate']['api_key']
api_secret = ini['simplicate']['api_secret']

sim = Simplicate(subdomain, api_key, api_secret )

In [2]:
df[-3:]

,employee,organization,project_name,project_number,service,type,service_tariff,label,billable,tariff,hours,day,status,corrections,turnover,week,month
6348,Stefan Roovers,Sprout Money BV,Slim Beleggen Agile,SM2021,Sprint 98,normal,110.0,Project Management,False,85.0,0.5,2021-03-03,to_forward,0.0,42.5,9,3
6349,Joost Cornelissen,Oberon,Internal,OBE-1,Other / Unaccountable,normal,0.0,Internal,False,0.0,0.8,2021-03-03,to_forward,0.0,0.0,9,3
6350,Joost Cornelissen,ThiemeMeulenhoff B.V.,Examenbundel Design Sprint,THIE-20,Design Sprint,normal,125.0,Creative Direction,False,105.0,0.5,2021-03-03,to_forward,0.0,52.5,9,3

## Turnover

In [3]:
def turnover( project, month=None, from_date=None ):
    query = f'project_number=="{project}"'
    if month: 
        query += f' and month=={month}'
    if from_date:
        query += f' and day>="{from_date}"'
    data = df.query(query)
    return data['turnover'].sum()

turnover( 'BAM-1', from_date='2021-02-01')

25821.4

## Invoices

In [4]:
def invoiced(project, month=None ):
    filter = {'project_number':project}
    if month:
        filter['from_date'] = f'2021-0{month}-01'
        filter['until_date'] = f'2021-0{month+1}-01'
    invoices = sim.invoice( filter )
    tot = 0
    for invoice in invoices:
        #print( invoice.get('invoice_number','????'), invoice['total_excluding_vat'], invoice['status'])
        tot += invoice['total_excluding_vat']
    return tot

def last_invoice_date( project ):
    invoices = sim.invoice( {'project_number':project} )
    invoices = sorted( invoices, key=lambda i: i['date'])
    if invoices:
        return datetime.datetime.strptime( invoices[-1]['date'], '%Y-%m-%d').date()
    
#print( invoiced( 'BAM-1'))
print( last_invoice_date( 'SLIM-16' ))

2020-11-30

## All projects, certain month

In [5]:
def active_projects():
    projects = [{'project': project.get('project_number',''),
                 'spent' : project['budget']['hours'].get('value_spent', 0),
                 'invoiced' : project['budget']['total']['value_invoiced']
                }
                for project in sim.project( {'active':True} )]
    return projects
active_projects()[:3]

[{'project': 'IDFA-2', 'spent': 9048.75, 'invoiced': 0},
 {'project': 'ACC-1', 'spent': 98056.25, 'invoiced': 48567.5},
 {'project': 'TOR-3', 'spent': 99141.25, 'invoiced': 1991.87}]

## Onderhanden werk

In [6]:
pd.set_option('display.max_row', 150)

# project['budget']['total']['value_invoiced']
def corrections(project):
    h = df.query( 'project_number=="{project}"' )
    return h['corrections'].sum()
    
def onderhanden():
    return pd.DataFrame( [{'project':project['project'], 
                           'spent':project['spent'],
                           'corr': corrections( project),
                           'inv': project['invoiced'],
                           'OH':project['spent'] + corrections( project) - project['invoiced']} 
                          for project in active_projects()] ).sort_values( by=['OH'])
oh = onderhanden()
oh.drop( oh[(oh.project=='TOR-3')].index, inplace=True)
oh

      project    spent  corr      inv       OH
12     SM2021 35,190.0   0.0 44,370.0 -9,180.0
29      TEX-2  2,452.5   0.0 10,047.5 -7,595.0
42     HAVA-2 16,173.8   0.0 21,225.0 -5,051.2
33      ONC-2  5,185.0   0.0 10,200.0 -5,015.0
23      AME-1    137.5   0.0  4,457.5 -4,320.0
24     VOLK-1  2,920.5   0.0  7,120.5 -4,200.0
66     GREE-6 11,156.2   0.0 15,000.0 -3,843.8
15     LEAN-2      0.0   0.0  3,600.0 -3,600.0
35      TER-1    495.0   0.0  3,380.0 -2,885.0
57     SLIM-9      0.0   0.0  2,829.2 -2,829.2
71      OER-2     55.0   0.0  2,880.0 -2,825.0
104    ROCK-4  3,527.5   0.0  6,300.0 -2,772.5
93     PLUC-1      0.0   0.0  2,640.0 -2,640.0
99    SLIM-22  7,225.0   0.0  9,860.0 -2,635.0
25     ESCH-1  6,277.5   0.0  8,902.5 -2,625.0
69     WARN-2      0.0   0.0  2,520.0 -2,520.0
10     BITF-1  4,717.5   0.0  7,140.0 -2,422.5
87      BAM-2      0.0   0.0  2,100.0 -2,100.0
41     IDFA-1  1,147.5   0.0  3,240.0 -2,092.5
27     BOER-1    967.5   0.0  2,882.5 -1,915.0
77    NUNOT-1    135.0   0.0  2,040.0 -1,905.0
14    WEI-001      0.0   0.0  1,847.5 -1,847.5
4       TMC-1  8,965.0   0.0 10,715.0 -1,750.0
48     BS2021    467.5   0.0  2,040.0 -1,572.5
59      ROI-1    510.0   0.0  2,040.0 -1,530.0
68     SINT-2      0.0   0.0  1,489.0 -1,489.0
74     COMP-1      0.0   0.0  1,452.0 -1,452.0
76      MLA-6      0.0   0.0  1,320.0 -1,320.0
37     CHIC-7 15,461.2   0.0 16,720.0 -1,258.8
96     WIND-6      0.0   0.0  1,176.0 -1,176.0
84     BROE-4      0.0   0.0  1,176.0 -1,176.0
95     PROD-2      0.0   0.0  1,176.0 -1,176.0
40     BELE-1    550.0   0.0  1,632.5 -1,082.5
61     WORR-1      0.0   0.0  1,044.0 -1,044.0
94    NORM-01      0.0   0.0  1,044.0 -1,044.0
53    TOMMY-1    247.5   0.0  1,245.0   -997.5
78     SCHI-1      0.0   0.0    900.0   -900.0
79     WIND-7  3,245.0   0.0  4,097.5   -852.5
89      KCP-1      0.0   0.0    720.0   -720.0
30     FUNC-1    137.5   0.0    857.5   -720.0
97     SPIR-3      0.0   0.0    696.0   -696.0
82     BREI-1     27.5   0.0    720.0   -692.5
70    KPITO-1     27.5   0.0    720.0   -692.5
67    DREAM-1      0.0   0.0    600.0   -600.0
86     HOUT-1      0.0   0.0    600.0   -600.0
65      VWF-1    797.5   0.0  1,330.0   -532.5
72     ZOET-1      0.0   0.0    420.0   -420.0
92     CAPI-2  2,112.5   0.0  2,440.0   -327.5
52    ALDA-13  7,847.5   0.0  8,000.0   -152.5
88     METR-1      0.0   0.0    150.0   -150.0
9     APL-001      0.0   0.0     61.7    -61.7
62      CAP-3  6,000.0   0.0  6,000.0      0.0
73     ALEX-2      0.0   0.0      0.0      0.0
64      TEST2      0.0   0.0      0.0      0.0
81      CAP-1      0.0   0.0      0.0      0.0
105    NUTR-1      0.0   0.0      0.0      0.0
6       OBE-1      0.0   0.0      0.0      0.0
21     TOPA-1    165.0   0.0    165.0      0.0
39      IVA-1    275.0   0.0    275.0      0.0
103     ONC-1     27.5   0.0      0.0     27.5
32     VJ2021  7,161.2   0.0  7,118.8     42.5
22      IMC-1    457.5   0.0    407.5     50.0
45     WARN-1 10,906.2   0.0 10,840.0     66.2
20      EUR-1  5,626.5   0.0  5,518.5    108.0
34      RIN-1  2,250.0   0.0  2,100.0    150.0
26     SVHK-1    907.5   0.0    715.0    192.5
102    PROD-1  1,146.2   0.0    880.0    266.2
60     IFLA-4  3,795.0   0.0  3,520.0    275.0
58     SINT-3  9,386.2   0.0  9,110.0    276.2
90     KUNS-1  9,106.2   0.0  8,800.0    306.2
56      MLA-2  4,007.5   0.0  3,520.0    487.5
80     WORR-2  2,303.8   0.0  1,760.0    543.8
55     BROE-1  6,915.0   0.0  6,200.0    715.0
11     MG2021  7,395.0   0.0  6,587.5    807.5
28      AMS-1  3,272.5   0.0  2,447.5    825.0
101    SPIR-1 12,371.2   0.0 11,520.0    851.2
54    THIE-16  6,907.5   0.0  5,895.0  1,012.5
18     BRAU-1 19,850.0   0.0 18,600.0  1,250.0
100    ALDA-8  6,065.0   0.0  4,680.0  1,385.0
47      ODC-1 10,692.5   0.0  9,262.5  1,430.0
50     MANA-1 20,993.8   0.0 19,442.5  1,551.2
75    SLIM-29 12,155.0   0.0 10,200.0  1,955.0
98     MAMA-1  1,976.2   0.0      0.0  1,976.2
85       TEST  2,362.5   0.0      0.0  2,362.5
51     LAND-2 20,905.0   0.0 18,400.0  2,505.0
13      BCM-1 10,780.0   0.0  8,062.5  2,717.5
91      NLA-1 12,356.2   0.0  9,080.0  3,276.2
19      BAM-1 52,381.2   0.0 49,015.3  3,365.9
46      CEO-1  3,577.5   0.0      0.0  3,577.5
36    SLIM-30 13,812.5   0.0 10,200.0  3,612.5
3    SERVIC-1  4,635.0   0.0      0.0  4,635.0
63       KB-1 22,310.0   0.0 17,670.0  4,640.0
5      IDFA-3  4,985.0   0.0      0.0  4,985.0
49     EASY-1 10,752.5   0.0  4,590.0  6,162.5
44    THIE-20  7,380.0   0.0      0.0  7,380.0
0      IDFA-2  9,048.8   0.0      0.0  9,048.8
16     THAL-1 11,797.5   0.0  2,700.0  9,097.5
83      CVA-1 12,392.5   0.0      0.0 12,392.5
38      MTM-1 26,715.0   0.0 12,772.5 13,942.5
17    THIE-17 30,753.8   0.0 16,201.2 14,552.5
7       ONC-3 15,921.2   0.0      0.0 15,921.2
31      BEN-1 38,555.6   0.0 17,154.0 21,401.6
8       OER-1 30,657.5   0.0      0.0 30,657.5
1       ACC-1 98,056.2   0.0 48,567.5 49,488.8
43      TEX-1 62,517.5   0.0      0.0 62,517.5

In [7]:
oh['OH'].sum()

201785.28746700002

# Correcties

In [9]:
df[-3:]

,employee,organization,project_name,project_number,service,type,service_tariff,label,billable,tariff,hours,day,status,corrections,turnover,week,month
6348,Stefan Roovers,Sprout Money BV,Slim Beleggen Agile,SM2021,Sprint 98,normal,110.0,Project Management,False,85.0,0.5,2021-03-03,to_forward,0.0,42.5,9,3
6349,Joost Cornelissen,Oberon,Internal,OBE-1,Other / Unaccountable,normal,0.0,Internal,False,0.0,0.8,2021-03-03,to_forward,0.0,0.0,9,3
6350,Joost Cornelissen,ThiemeMeulenhoff B.V.,Examenbundel Design Sprint,THIE-20,Design Sprint,normal,125.0,Creative Direction,False,105.0,0.5,2021-03-03,to_forward,0.0,52.5,9,3

In [11]:
corrections = df.query('corrections < 0')
corrections

,employee,organization,project_name,project_number,service,type,service_tariff,label,billable,tariff,hours,day,status,corrections,turnover,week,month
89,Gijs Kattenberg,Thales,Thales - SLA,THAL-1,Service Basic,normal,110.0,Service basic laag,True,110.0,6.0,2021-01-04,projectmanager_approved,-2.0,440.0,1,1
122,Paulo Nuno da Cruz Moreno,Avero,BCM Tool - SLA,BCM-1,Service Basic,normal,110.0,Service basic laag,True,110.0,2.8,2021-01-04,projectmanager_approved,-2.0,82.5,1,1
231,Jochem Tijhuis,VVV Texel,Website,TEX-1,Development Sprints 2021,normal,95.0,Back-end Development,True,105.0,7.0,2021-01-05,projectmanager_approved,-6.0,105.0,1,1
278,Fadhlur Zahri,Amsterdam Internet Exchange BV.,AMS-IX SLA,AMS-1,Service Basic,normal,110.0,Service basic laag,True,110.0,1.2,2021-01-05,projectmanager_approved,-1.2,-0.0,1,1
284,Paulo Nuno da Cruz Moreno,Avero,BCM Tool - SLA,BCM-1,Service Basic,normal,110.0,Service basic laag,True,110.0,4.8,2021-01-05,projectmanager_approved,-4.0,82.5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5776,Jeroen Soeteman,VVV Texel,VVV Texel - SLA,TEX-2,Service Plus,normal,90.0,Service plus laag,True,90.0,4.5,2021-02-24,projectmanager_approved,-0.8,337.5,8,2
5779,Fadhlur Zahri,De Volksbank,Eurowijs - SLA,EUR-1,Service (JM),normal,110.0,Service basic laag,True,99.0,1.5,2021-02-24,projectmanager_approved,-1.5,0.0,8,2
5795,Gerben van Dijk,Stichting JobOn,JobOn Strippenkaart,BROE-1,Strippenkaart 4,normal,110.0,Maintenance & Support,False,100.0,0.2,2021-02-24,projectmanager_approved,-0.2,0.0,8,2
5961,Fadhlur Zahri,De Volksbank,Eurowijs - SLA,EUR-1,Service (JM),normal,110.0,Service basic laag,True,99.0,1.2,2021-02-25,projectmanager_approved,-1.2,-0.0,8,2
5968,Gerben van Dijk,Stichting JobOn,JobOn Strippenkaart,BROE-1,Strippenkaart 4,normal,110.0,Maintenance & Support,False,100.0,1.0,2021-02-25,projectmanager_approved,-1.0,0.0,8,2

In [37]:
DATE_FORMAT = '%Y-%m-%d'
lastmonth = (datetime.datetime.today() + datetime.timedelta(days=-30)).strftime(DATE_FORMAT)
a = df.query(f'corrections < 0 and day>="{lastmonth}"').groupby(['organization','project_name']).agg({'hours':'sum','corrections':'sum', 'turnover':'sum'}).sort_values('corrections').query('corrections < -10')
a.reset_index()

  organization                   project_name  hours  corrections  turnover
0    VVV Texel                        Website   76.0        -76.0      -0.0
1       Oncode  Oncode Community aanpassingen   29.5        -29.5       0.0
2        Oerol                       Platform   26.0        -26.0      -0.0
3         BAM        Homestudios Traject 2021   14.5        -11.0     373.5